.header-div {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.header-div h2 {
  cursor: pointer;
}

.notes-list-div h1,
.add-notes-div h1 {
  text-align: center;
}

.notes-list-grid {
  justify-content: space-around;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
}

.new-note-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.note-card {
  background-color: black;
  color: white;
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  text-align: center;
}

.note-card svg {
  cursor: pointer;
  margin-left: 110px;
  margin-top: 50px;
  color: red;
  width: 30px;
  height: 30px;
}

.new-note-div input,
.new-note-div button {
  padding: 10px;
  font-size: 20px;
}

.new-note-div button {
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.new-note-div button:disabled {
  color: grey;
  cursor: not-allowed;
}
